.cart-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0rem 6rem;
    margin-top: 2rem;
    gap: 20px;
    z-index: -2;
   margin-left: 20rem;
}
.card{
  padding: 20px;
    border: 2px solid #ededed;
    cursor: pointer;
   
}
.card-img{
    width: 13rem;
    margin-bottom: 1rem;
}
.card-title{
   
    margin-bottom: 1rem;
}
.card-review{
    margin-bottom: 1rem;
    display: flex;
}
.rating-star{
color: #d5ab55;
}
.total-review{
  font-size: 0.9rem;
  margin-left: 10px;
}
.card-price{
display: flex;
justify-content: space-around;
align-items: center;
}
.price{

}
.bag-icon{
    color: #535353;
}



